html{
    font-family: 'Reem Kufi';
    height: 100%;
    background: #5CDB95;
    background-image: url(../images/blogBackground.png);
    background-size: cover;
    background-attachment: fixed;
    
}

.homeContent{
    align-content: center;
    
}

h1{
    color: #EDF5E1;
    text-align: center;
    font-family: 'Barrio';
    font-size: 108px;
    text-shadow: 5px 5px 2px #379683;
    
    
    
}

h2{
    color: #EDF5E1;
    text-align: center;
    line-height: 10px;
    font-size: 32px;
    text-shadow: 2px 2px 2px #379683;
}

nav{
    text-align: center;
    padding-top: 20px;
    
    


}
nav a, nav h3{
    font-size: 24px;
	margin: 0px;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
	line-height: 80px;
	margin-left: 1em;
	margin-right: 1em;
	text-decoration: none;
    color: white;
    background-color: #379683;
    border-radius: 4px;

}

nav a:hover{/* Hover styles to let people know they can click it */
    background-color: #05386B;
    color: white;
    border-radius: 4px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	transition: 0.3s;

}

.aboutCardWrap{
    margin: auto;
    width: 50%;
    margin-top: 30px;
    margin-bottom: 40px;
    padding: 30px;
    /*border: 5px solid #05386B ;*/
    border-radius: 10px;
    background-color: #EDF5E1;
    box-shadow: 5px 4px 8px 1px rgba(0, 0, 0, 0.21);
    transition: all 200ms;

}

.aboutTitle{
    color: black;
    font-family: 'Reem Kufi';
    font-size: 28px;
    text-align: center;
    text-shadow: 0px 0px 0px #05386B;
}

.aboutDetails{
    font-size: 18px;
    text-align: center;
    padding-bottom: 0px;
    
    
}

@media (max-width: 640px) {
    .homeContent{
        top: 70%;
    }
}

@media (max-width: 480px) {
    h1{
        top: 70%;
    }
}