

body{
    margin: 24px;
}


.blogWrapper{
    padding-top: 40px;
    width: 100%;
    margin: 0 0 24px 0;
    padding-bottom: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}


.blogCardWrap{
    display: block;
    margin-bottom: 40px;
    padding: 12px;
    border-radius: 10px;
    background-color: #EDF5E1;
    box-shadow: 5px 4px 8px 1px rgba(0, 0, 0, 0.21);
    transition: all 200ms;

}

.blogCardWrap:hover {
    transform: translateY(-6px);
    transition: all 200ms;
}

.blogCardWrap > img {
    display: block;
    width: 100%;
    margin: 0 0 30px 0;
}

.wall-column{
    display: block;
    position: relative;
    width: 33.33%;
    float: left;
    padding: 0 12px;
    box-sizing: border-box;
}

.imageWrap{
    width: 100%;
    height: 100%;
    padding-bottom: 10px;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
}

.blogImage {
    opacity: 1.0;
    width: 100%;
    align-items: center;
    background-color: #379683;
    box-shadow: 5px 4px 8px 1px rgba(0, 0, 0, 0.21);
    
}

.blogContent{
    width: 100%;
    border-radius: 10px;
    padding-bottom: 0px;
}

.info{
    width: 100%;
    height: 40px;
}

.date{
    float: left;
    padding-left: 0px;
}

.tag{
    float: right;
    padding-right: 0px;
}

.blogTitle{
    color: black;
    font-family: 'Reem Kufi';
    font-size: 32px;
    text-align: left;
    text-shadow: 0px 0px 0px #05386B;
}

.blogDetails{
    font-size: 18px;
    padding-bottom: 0px;
    
    
}


a{
    text-decoration: none;
    color: #379683;
    font-size: 18px;
}

a:hover{
    color: black;
}


h1{
    padding-top: 10px;
}

.slideImageWrap{
    overflow: hidden;
    position: relative;
    margin: auto;
}

.mySlides1, .mySlides2, .mySlides3{
    display: none;
}

.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    background-color:#379683;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover{
    background-color: rgba(0,0,0,0,0.8);
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;

}

@keyframes fade{
    from {opacity: .4;}
    to {opacity: 1;}
}

@media (max-width: 640px) {
    .wall-column {
        width: 50%;
    }
}

@media (max-width: 480px) {
    .wall-column {
        width: auto;
        float: none;
    }
}