

body{
    margin: 24px;
}

.blogWrapper{
    padding-top: 40px;
    width: 57vw;
    margin: auto;
    padding-bottom: 40px;
    
}

.blogCardWrap{
    display: block;
    margin-bottom: 40px;
    padding: 30px;
    /*border: 5px solid #05386B ;*/
    border-radius: 10px;
    background-color: #EDF5E1;
    box-shadow: 5px 4px 8px 1px rgba(0, 0, 0, 0.21);
    transition: all 200ms;

}

.blogCardWrap:hover {
    transform: translateY(-6px);
    transition: all 200ms;
}

.blogCardWrap > img {
    display: block;
    width: 100%;
    margin: 0 0 30px 0;
}

.imageWrap{
    width: 100%;
    height: 100%;
    padding-bottom: 10px;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
}

.blogImage {
    width: 100%;
    
}

.blogImageGrid {
    width: fit-content;
    
}
.blogContent{
    width: 100%;
    border-radius: 10px;
    padding-bottom: 0px;
}

.info{
    width: 100%;
    height: 40px;
}

.date{
    float: left;
    padding-left: 0px;
}

.tag{
    float: right;
    padding-right: 0px;
}

.blogTitle{
    color: black;
    font-family: 'Reem Kufi';
    font-size: 32px;
    text-align: left;
    text-shadow: 0px 0px 0px #05386B;
}

.blogDetails{
    font-size: 18px;
    padding-bottom: 0px;
    
    
}


a{
    text-decoration: none;
    color: #379683;
    font-size: 18px;
}

a:hover{
    color: black;
}

.imageWrapRow{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.imageWrapColumn{
    flex: 45%;
    max-width: 50%;
    padding: 5px;
}

.imageWrapColumn img{
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

.blogImageGrid:hover{
    box-shadow: 0 0 2px 3px  #05386B;
}